<ion-header>
  <ion-navbar>
    <ion-title>Geofences</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (tap)="addgeofence()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let item of devices">
    <ion-item (click)="geofenceShow(item)">
      <h2>{{item.geoname}}</h2>
      <p style="margin-top: 3%;">Number Of Vehicles - {{item.devicesWithin.length}}</p>
      <ion-icon item-end name="trash" color="danger" (tap)="DelateGeofence(item._id)"> </ion-icon>
    </ion-item>
    <!-- <ion-toggle color="danger"></ion-toggle> -->
    <ion-row>
      <ion-col width-33>
        <div style="padding-left: 10px;">
          <ion-toggle [(ngModel)]="item.status" (ionChange)="DisplayDataOnMap(item)" color="custcol"></ion-toggle>
        </div>

        <!-- <ion-toggle [(ngModel)]="item.status" (ionChange)="DisplayDataOnMap(item)" color="danger" style="margin-left:11%;"></ion-toggle> -->
        <p style="color:#e618af;font-size:10px;margin-left: 10px;">Display on map</p>
      </ion-col>
      <ion-col width-33 style="text-align: center;">
        <div style="padding-left: 10px;">
          <ion-toggle [(ngModel)]="item.entering" (ionChange)="DisplayDataOnMap(item)" color="custcol"></ion-toggle>
        </div>
        <!-- <ion-toggle [(ngModel)]="item.entering" (ionChange)="DisplayDataOnMap(item)" color="danger" style="margin-left: 20%;"></ion-toggle> -->
        <p style="color:green;font-size: 10px;margin-left: -8%;">Notification Entering</p>
      </ion-col>
      <ion-col width-33>
        <div style="padding-left: 10px;">
          <ion-toggle [(ngModel)]="item.exiting" (ionChange)="DisplayDataOnMap(item)" color="custcol"></ion-toggle>
        </div>
        <!-- <ion-toggle [(ngModel)]="item.exiting" (ionChange)="DisplayDataOnMap(item)" color="danger" style="margin-left: 20%;"></ion-toggle> -->
        <p style="color:green;font-size: 10px; margin-left: 11%;">Notification Exiting</p>
      </ion-col>
    </ion-row>

  </ion-card>

</ion-content>