<ion-menu [content]="content" [swipeEnabled]="false" (ionOpen)='chkCondition()'>
  <ion-header>
    <!-- <ion-navbar style="background-image: linear-gradient(to right top, #d80622, #c0002d, #a60033, #8b0935, #6f1133);"> -->
    <!-- <div class="headProf">
      <img src="assets/imgs/dummy-user-img.png">
      <div>
        <h4>{{islogin.fn}}&nbsp;{{islogin.ln}}</h4>
        <p style="font-size: 12px">
          <ion-icon name="mail"></ion-icon>&nbsp;{{islogin.email}}</p>
        <p style="font-size: 12px">
          <ion-icon name="call"></ion-icon>&nbsp;{{islogin.phn}}</p>
      </div>
    </div> -->
    <!-- </ion-navbar> -->
  </ion-header>

  <ion-content id=outerNew>
    <div class="headProf">
      <img src="assets/imgs/dummy-user-img.png">
      <div>
        <h4>{{islogin.fn}}&nbsp;{{islogin.ln}}</h4>
        <p style="font-size: 12px">
          <ion-icon name="mail"></ion-icon>&nbsp;{{islogin.email}}</p>
        <p style="font-size: 12px">
          <ion-icon name="call"></ion-icon>&nbsp;{{islogin.phn}}</p>
      </div>
    </div>
    <!-- side menu content -->
    <side-menu-content [settings]="sideMenuSettings" [options]="options" (change)="onOptionSelected($event)"></side-menu-content>
    <!-- <ion-list no-lines>
      <ion-item *ngFor="let p of pages;  let i=index" (click)="openPage(p, i);" style="background-color: transparent; border-bottom: 1px solid #717775; color: #f0f0f0">

        <span ion-text>
          <ion-icon name="{{p.icon}}"> </ion-icon>
          &nbsp;&nbsp;&nbsp;{{p.title}}
          <ion-icon [name]="selectedMenu == i? 'arrow-dropdown-circle' : 'arrow-dropright-circle'" *ngIf="p.subPages" float-right></ion-icon>
        </span>

        <ion-list no-lines [hidden]="selectedMenu != i" style="margin: 0px 0 0px; padding:0px !important;">
          <ion-item no-border *ngFor="let subPage of p.subPages;let i2=index" text-wrap (click)="openPage(subPage)" style="background-color: transparent;border-bottom: 1px solid #b9c2bf; color: #f0f0f0; padding-left: 40px;font-size: 0.8em;">
            <span ion-text>&nbsp;{{subPage.title}}</span>
          </ion-item>
        </ion-list>

      </ion-item>
    </ion-list> -->
  </ion-content>
  <!-- <ion-footer>
    <ion-toolbar color="light" (tap)="logout()" class="toolbarmd">
      <ion-title>
        <ion-icon color="danger" name="log-out"></ion-icon>&nbsp;&nbsp;&nbsp;
        <span ion-text color="danger">Logout</span>
      </ion-title>
    </ion-toolbar>
  </ion-footer> -->

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>