
.introjs-helperLayer {
    opacity: 0.1;
}
page-add-devices {

  .switch {
    position: relative;
    display: inline-block;
    width: 35px;
    height: 13px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: -4px;
    bottom: 0.45px;
    background-color: #F38321;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: rgb(51, 185, 84);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px rgb(51, 185, 84);
  }
      
      input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
      }
      
      /* Rounded sliders */
      .slider.round {
        border-radius: 34px;
      }
      
      .slider.round:before {
        border-radius: 50%;
      }

    .itemStyle {
        .item-ios,.item-md {
            padding: 0px !important;
        }
        .label-ios,.label-md {
          margin: 0px !important;
        }
        .item-ios.item-block .item-inner,.item-md.item-block .item-inner {
         padding: 0px !important;
         margin: 0px !important;
        }  
    }

    .item-md.item-block .item-inner,
    .item-ios.item-block .item-inner {
        padding-right: 0px;
        // border-bottom: 1px solid #dedede;
    }

   .ava{
         min-width: 0px; 
         min-height: 0px; 
       img {
           height: 22px;
           width: 30px;
       }
   }

   .activeBtn {
    position: absolute;
    z-index: 1000;
    top: 68%;
    right: 6%;
   }

   .colSt1{
        height:4.4rem; 
        background-image: linear-gradient(to left, #f38321, #d3723a, #af6547, #875a4d, #5a504e);
        padding: 0px;
        text-align: center;
        position:relative;
   }

   .colSt1Copy{
        height:4.4rem; 
        padding: 0px;
        text-align: center;
        position:relative;
    }

   .colSt2{
        height:4.4rem; 
        width:80%; 
        padding: 0px;
   }

   .overme {
        padding-top:8px;
        padding-right: 2px;
        width: 180px;
        line-height: normal;
        overflow:hidden; 
        font-size: 10px;
        color: white;
        /*The problematic part is below*/
        white-space:nowrap; 
        text-overflow: ellipsis;
    }
    
    .overme {
        white-space: normal;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }
   
}
